<!DOCTYPE html>
<html>
  <head>
    <title>celebrities</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Homepage/index</h1>
    <a href="/celebrities"> celebrites </a>
  </body>
</html>
