<h2>Add new celebrities</h2>

<form action="/celebrities" method="POST">

  <label for="name">Name:</label>
  <input type="text" name="name">

  <label for="occpation">Occupation:</label>
  <input type="text" name="occupation">

  <label for="catchphrase">Catchphrase:</label>
  <input type="text" name="catchphrase">

  <button type="submit" name="saveButton">Add new celebrity</button>

</form>
